# EditorConfig (https://editorconfig-specification.readthedocs.io/)
[*]
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
charset = utf-8-bom

[*.{json,code-workspace}]
indent_size = 2
tab_width = 2

[*.{http}]
indent_size = 2
tab_width = 2

[*.md]
indent_size = 2
tab_width = 2
trim_trailing_whitespace = false

[*.gitconfig]
indent_style = tab
