# EditorConfig (https://editorconfig-specification.readthedocs.io/)
[*]
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
charset = utf-8-bom

[*.md]
trim_trailing_whitespace = false

[*.gitconfig]
indent_style = tab
