# EditorConfig (https://editorconfig-specification.readthedocs.io/)
[*]
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8-bom

[*.{csproj,js,json,ts,tsx,yml,yaml}]
indent_size = 2
tab_width = 2

[*.md]
trim_trailing_whitespace = false

[*.gitconfig]
indent_style = tab

# .NET (https://aka.ms/editorconfigdocs)
[*.{cs,csx,vb,vbx}]
dotnet_sort_system_directives_first = true
